<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
        <script type="text/javascript" src="./static/lib/js/jquery.min.js"></script>
        <script type="text/javascript" src="./static/lib/js/d3.js"></script>
        <script type="text/javascript" src="./static/lib/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="./static/js/custom.js"></script>
        <link href="./static/lib/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <div class="container">
        <div class="row">
            <form class="form-inline" enctype="multipart/form-data" role="form" method="post" action="/config">
                <div class="row panel panel-info">
                    <h2 class= "panel-heading">Input Config</h2>
                    <div class="col-lg-3 panel-body">
                        <h3>Data_set</h3>
                        <div class="data">                
                            <div class="row form-group">
                                <label for="train_file">Train file</label>
                                <input type="file" id="train_file" name="train_file">
                            </div>
                            <div class="row form-group">
                                <label for="dev_file">Dev file</label>
                                <input type="file" id="dev_file" name="dev_file">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 panel-body">    
                        <h3>Token</h3>
                        <div class="token">                
                            <div class="row form-group">
                                <label for="embedding_size">embedding_size</label>
                                <input type="text" id="embedding_size" class="form-control" name="embedding_size">
                            </div>
                            <div class="row form-group">
                                <label for="maxTokenLength">maxTokenLength</label>
                                <input type="text" id="maxTokenLength" class="form-control" name="maxTokenLength">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 panel-body">
                        <h3>Channel
                            <button id="add_channel" type="button" class="btn btn-default">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                            <button id="remove_channel" type="button" class="btn btn-default" >
                                <span class="glyphicon glyphicon-minus"></span>
                            </button>              
                        </h3>
                        <div class="channel">                
                            <div class="form-group">
                                <label class="mode">mode</label>
                                <select class="form-control input-sm mode" name="mode">
                                    <option value="char">char</option>
                                    <option value="word">word</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="static">static</label>
                                <select class="form-control input-sm static" name="static">
                                    <option value="True">True</option>
                                    <option value="False">False</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="embedding">embedding</label>
                                <select class="form-control input-sm embedding" name="embedding">
                                    <option value="Google_News_300">Google-News-300</option>
                                    <option value="None">None</option>
                                </select>
                            </div>
                        </div><!--channel config-->
                    </div>
                </div><!--input config row-->
                <div class="row panel panel-success">   
                    <h2 class = "pannel-title"> Net Config</h2>
                    <h3>filter size
                        <button id="add_filter" type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                        <button id="remove_filter" type="button" class="btn btn-default" >
                            <span class="glyphicon glyphicon-minus"></span>
                        </button>              
                    </h3>
                    <div class="panel-body filter">                
                        <div class="form-group">
                            <label>filter_size</label>
                            <input type="text" class="form-control" name="filter_size">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <input type="submit" class="btn btn-info" value="Submit" id="submit">
                </div>
            </form>
        </div><!--form row div-->
        <div>
    </div id="result">result</div>   
    </body>
</html>

