<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
        <script type="text/javascript" src="./static/lib/js/jquery.min.js"></script>
        <script type="text/javascript" src="./static/lib/js/d3.js"></script>
        <script type="text/javascript" src="./static/lib/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="./static/js/custom.js"></script>
        <link href="./static/lib/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
    <div class="container">
        {% if config_file %}
           <li> config file : {{config_file}}</li>
        {% endif %}
        <table class="table">
            <tbody>
            {% if config_info %}
                {% for key, value in config_info.iteritems() %}
                    <tr class="success">
                    <td>{{ key }}</td>
                    <td>{{ value }}</td>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
        <div class="row">
        <form class="form-inline" enctype="multipart/form-data" role="form" method="post" action="/config">
            <div class="row panel panel-info">
                <h2 class= "panel-heading">Train Set</h2>
                <div class="panel-body">
                    <div class="row form-group">
                        <label for="epoch_num">epoch_num</label>
                        <input type="text" id="epoch_num" name="epoch_num">
                    </div>
                    <div class="row form-group">
                        <label for="batch_size">batch size</label>
                        <input type="text" id="baatch_size" name="batch_size">
                    </div>
                </div>
            </div>
        </form>
    </div>
    </body>
</html>
